// global styles
@import "variables";
@import "base";
@import "./components/buttons.scss";



[debug],
[debug] > * {
    border: 1px solid red;
}

// global styles
.font-weight-light {
    font-weight: 300;
}

.font-weight-normal {
    font-weight: 400;
}

.font-weight-medium {
    font-weight: 500;
}

.center-horizontal {
    margin: 0 auto;
}

.layoutContainer {
    @extend .center-horizontal;
    max-width: var(--layout-container);
}

.noevents {
    pointer-events: none;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.fit-parent {
    width: 100%;
    height: 100%;
    object-fit: cover;
}